#totalCount,
#listArray{
    display: block;
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: #ffffff;
}

.numPadArea{
    display: flex;
    justify-content: center;
}

.numPad{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 550px;
}

.numPadNum{
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
    border-style: none;
    width: 150px;
    height: 150px;
    margin: 15px;
}

.numPadNum:hover{
    background-color: #0056b3;
}