#totalCount,
#listArray{
    display: block;
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: #ffffff;
}

.numPadArea{
    display: flex;
    justify-content: center;
}

.numPad{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 375px;
}

.numPadNum{
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
    border-style: none;
    width: 55px;
    height: 55px;
    margin: 10px;
    font-size: xx-large;
}

.numPadNum:hover{
    background-color: #0056b3;
}

.numPadAction{
    background-color: #eb8334;
    color: #ffffff;
    border-radius: 5px;
    border-style: none;
    width: 55px;
    height: 55px;
    margin: 10px;
    font-size: xx-large;
}

.numPadAction:hover{
    background-color: #eb7734;
}

button, input, select {
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
}

@media (min-width: 300px) {
    .numPadNum{
        width: 45px;
        height: 45px;
        margin: 5px;
    }
    .numPadAction{
        width: 45px;
        height: 45px;
        margin: 5px;
    }
}

@media (min-width: 314px) {
    .numPadNum{
        width: 45px;
        height: 45px;
        margin: 10px;
    }
    .numPadAction{
        width: 45px;
        height: 45px;
        margin: 10px;
    }
}

@media (min-width: 363px) {
    .numPadNum{
        width: 55px;
        height: 55px;
        margin: 10px;
    }
    .numPadAction{
        width: 55px;
        height: 55px;
        margin: 10px;
    }
}

@media (min-width: 415px) {
    .numPadNum{
        width: 55px;
        height: 55px;
        margin: 13px;
    }
    .numPadAction{
        width: 55px;
        height: 55px;
        margin: 13px;
    }
}

@media (min-width: 420px) {
    .numPadNum{
        width: 65px;
        height: 65px;
        margin: 15px;
    }
    .numPadAction{
        width: 65px;
        height: 65px;
        margin: 15px;
    }
}

@media (min-width: 505px) {
    .numPadNum{
        width: 75px;
        height: 75px;
        margin: 15px;
    }
    .numPadAction{
        width: 75px;
        height: 75px;
        margin: 15px;
    }
}